.Card {
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.Card__image {
    width: 70px;
    height: 70px;
    visibility: hidden;
}

.Card__image-active {
    visibility: visible;
    width: 70px;
    height: 70px;
}